[Unit]
Description=Club Cooee Trade
After=network.target

[Service]
Type=simple
ExecStart=/root/trade/club_cooee_trade
Restart=on-failure
User=root
Group=root
WorkingDirectory=/root/trade/
Environment="RUST_LOG=info"

[Install]
WantedBy=multi-user.target
